<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
	<header>
		<h1>{{title}}</h1>
		<!-- NAV MENU -->
	</header>
	
	{{{body}}}

	<footer><p>Brandon Cao, Sebastian Muriel, Jorie Sieck, Corinne Wisniewski</p></footer>
</body>


</html>