<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
	<header>
		<h1>{{title}}</h1>
		<nav id='main-menu'>
			<a href='/'>Home</a>
			<a href='/questions-forum'>Question Forum</a>

			{{#if loggedIn}}
			<a href='/questions-forum/post'>Ask a Question</a>
			{{/if}}

			<a href='/toptutors'>Top Rated Tutors</a>
			{{#if loggedIn}}
			<a href='/profile' class='logged-in'>Profile</a>
			<a href='/request-tutor' class='logged-in'>Request a Tutor</a>
			<a href='/logout' class='logged-in'>Log Out</a>
			{{else}}
			<a href='/new-user' class='logged-out'>Create Account</a>
			<a href='/login' class='logged-out'>Log In</a>
			{{/if}}
		</nav>
	</header>
		{{{body}}}

	<footer><p>Brandon Cao, Sebastian Muriel, Jorie Sieck, Corinne Wisniewski</p></footer>
</body>
</html>