<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
	<header>
		<h1>{{title}}</h1>
		{{!-- {{> (lookup . 'partial')}} --}}
		<nav id='main-menu'>
			<a href='/'>Home</a>
			<a href='/question-forum'>Question Forum</a>
			<a href='/top-rated-tutors'>Top Rated Tutors</a>
			{{#if loggedIn}}
			<a href='/profile' class='logged-in'>Profile</a>
			<a href='request-tutor' class='logged-in'>Request a Tutor</a>
			<a href='/logout' class='logged-in'>Log Out</a>
			{{else}}
			<a href='/new-user' class='logged-out'>Create Account</a>
			<a href='/login' class='logged-out'>Log In</a>
			{{/if}}
		</nav>
	</header>
	
	{{{body}}}

	<footer><p>Brandon Cao, Sebastian Muriel, Jorie Sieck, Corinne Wisniewski</p></footer>
	
</body>
</html>