/**
 * Table of Contents
 * 1) Overall Site Styles
 * 2) Login Page
 * 		- Landing
 * 		- Tutor
 * 		- Student
 * 3) Create User Page
 * 		- Landing
 * 		- Tutor
 * 		- Student
 * 4) Mobile (TODO)
 */

/* Overall Site Styles */
html {
	height: 100%;	/* for footer styling */
}

body {
	background-color: #49d8af;
	color: #003dac;
	/* for footer styling */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	margin: 0;
}

/* header */
header {
	background-color: #0078d8;
	color: #fff;
	width: 100%;
}
header h1 {
	height: 35%;
	width: 100%;
	text-align: center;
}

/* nav menu */
#main-menu {
	/* margin-top: 3%; */
	margin-bottom: 0;
	padding-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #003dac;
}
#main-menu a {
	color: #fff;
	text-decoration: none;
	padding: 1%;
}
#main-menu a:hover {
	background-color: #49d8af;
	color: #003dac;
}

/* footer */
footer {
	background-color: #0078d8;
	color: #fff;
	height: 5%;
	width: 100%;
	display: flex;
	align-items: center;
}
footer p {
	margin-left: 2%;
	font-style: italic;
}

/* main */
main {
	height: 100%;
	width: 100%;
	padding-top: 10px;
}

/* links */
a {
	color: #003dac;
}
a:hover {
	/* color: #4055be; */
	text-decoration: none;
	cursor: pointer;
}

/* forms */
form {
	max-width: 30%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
}
label {
	margin: 5px;
}
input {
	margin: 5px;
}
form button {
	margin-top: 10px;
}

/* buttons - bevel? */
button {
	background-color: #003dac;
	/* background-color: #0078d8; */
	color: #fff;
	border-radius: 5px;
	border: 2px solid #fff;
	padding: 5px;
}
button:hover {
	/* background-color: #0062b1; */
	/* color: #000;
	border-color: #000; */
	background-color: #49d8af;
	color: #003dac;
	border-color: #003dac;
	cursor: pointer;
}

/* Error Messages */
.error {
	margin-left:auto;
	margin-right:auto;
	background-color: #f6aa89;
	color: #8c1900;
	border: 1px solid #8c1900;
	max-width: 50%;
	padding: 1%;
}
ul.error {
	list-style-type: none;
}
p.error {
	text-align: center;
}

/* Login and Create User Styles */
/* Landing */
.login-landing, .new-user-landing {
	text-align: center;
}

button.login-landing, button.new-user-landing {
	font-size: large;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Student, Tutor */
.input-description {
	font-size: small;
	width: 100%;
	font-style: italic;
	margin: 0;
}

/* profile styles */
#passwordChangeForm, #userInfoChangeForm {
	display: none;
}

#shownInfo {
	display: block;
}