<main>
    <form id="edit-answer-form">
        <label for="update-body">Enter your answer</label>
        <textarea type="text" id="update-body">{{oldBody}}</textarea>

        <button type="submit" id='submit-edit-answer'>Submit</button>
    </form>

    <ul id="edit-answer-errors-list" class="error" hidden></ul>
</main>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/editAnswer.js"></script>