<div>
    <p class="bold">
        Tutoring, Simplified!
    </p>
    <p id="intro">
        We provide an innovative and user-friendly approach for users to access the materials 
        students need to assist them with their education. We connect students seeking 
        study aid with tutors that are knowledgeable in the subjects they need help with. 
    </p>
    <a href='/login' class="btn-login">Get Started</a>
</div>

<div>
    <p>
        Need help on a problem? 
    </p>
    <img src="../../public/images/need-help.jpg" alt="Need help" width="200" height="200">

    <ul>
        <li>Ask questions, anytime, anywhere!</li>
        <li>Get help from knowledgeable tutors</li>
    </ul>
    <a href='/questions-forum' class="btn-questions">Ask a Question</a>
</div>

<div>
    <p>
        Need 1 on 1 help? 
    </p>
    <img src="../../public/images/tutors.jpg" alt="Tutoring" width="200" height="200">
    <ul>
        <li>Schedule a tutoring session with knowledgeable tutors</li>
        <li>Choose a date and time that works for you!</li>
    </ul>
    <a href='/request-tutor' class="btn-tutor">Request a Tutor</a>
</div>