<main class="login-landing">
	<h2 class="login-landing">Please select which type of account you hold.</h2>
	<div class='user-landing-buttons'>
		<a href="/login/student"><div class="login-landing button">Student</div></a>
		<a href="/login/tutor"><div class="login-landing button">Tutor</div></a>
	</div>
		<div class="login-landing">
			<h3>New User?</h3>
			<a href="/new-user">Create an account here</a>
		</div>
</main>