<main class="login-landing">
	<h2 class="login-landing">Please select which type of account you hold.</h2>
		<a href="/login/student"><button class="login-landing">Student</button></a>
		<a href="/login/tutor"><button class="login-landing">Tutor</button></a>

		<div class="login-landing">
			<h3>New User?</h3>
			<a href="/new-user">Create an account here</a>
		</div>
</main>