<main class="new-user-landing">
	<h2>Please select the type of account you would like to create.</p>
	<a href="/new-user/student"><button class="new-user-landing">Student</button></a>
	<a href="/new-user/tutor"><button class="new-user-landing">Tutor</button></a>
</main>