<main class="new-user-landing">
	<h2>Please select the type of account you would like to create.</h2>
	<div class='user-landing-buttons'>
	<a href="/new-user/student"><div class="new-user-landing button">Student</div></a>
	<a href="/new-user/tutor"><div class="new-user-landing button">Tutor</div></a>
	</div>
</main>