<!--https://www.w3schools.com/html/html_form_input_types.asp-->

<main>
	<form id="new-user-form">
		<label for="first-name">First Name</label>
		<input type="text" id="first-name" required>

		<label for="last-name">Last Name</label>
		<input type="text" id="last-name" required>

		<label for="email">Email</label>
		<input type="email" id="email" required>

		<label for="username">Username</label>
		<input type="text" id="username" required>

		<label for="password">Password</label>
		<input type="password" id="password" required>

		<label for="confirm-password">Confirm Password</label>
		<input type="password" id="confirm-password" required>

		<label for="grad-year">Graduation Year</label>
		<input type="number" id="grad-year" required>

		<!-- TUTORS - REQUIRED, STUDENTS - NOT REQUIRED - how to do this? -->
		<label for="subjects">Interested Subjects <span class="input-description">Enter the subjects you are interested in, separated by a comma.</span></label>
		<input type="textarea" id="subjects">

		<button type="submit">Create Account</button>
	</form>

	<ul id="new-user-input-errors"></ul>

	<a href="/">Home</a>
</main>

<script src="/public/js/newUser.js"></script>
