<main id="toptutors">
    <div>
        <label for="search-bar-input">Search for tutors by subject:</label>
        <input id="search-bar-input" type="text" name="search-bar-input" onkeyup="searchBySubject()"
        placeholder="Math, English, etc">
    </div>
    <div id="tutoringList">
        {{#each tutors}}
        <div class="displayedTutor">
            <h3>{{this.username}}</h3>
            <h4>{{this.firstName}} {{this.lastName}}</h4>
            <h5>{{this.ratings.avgRating}}</h5>
        </div>
        {{/each}}
    </div>
</main>