<h1>Ask a new question</h1>
<form method="post" action="/questions-forum/post" id="post-question">
    <label for="question-title">Enter a title: </label>
    <input type="text" id="question-title" placeholder="Title">

    <label for="question-body">Enter a question: </label>
    <input type="text" id="question-body" placeholder="Question">

    <label for="question-tags">Enter tag(s): </label>
    <input type="text" id="question-tags" placeholder="Tags">

    <button type='submit' id='submit-new-question'>Ask question</button>
</form>